
<div class="row header margin-top-20">
	<div class="medium-6 large-6 columns">
		<div class="row margin-top-20">
			<div class="medium-6 columns">
				<div class="icon-bar">
					<a class="item">
						<i class="fi-heart style3"></i>
					</a>
					<cite>Candy </cite>
					<span class="light">Deals</span>
				</div>
			</div>
		</div>
	</div>
	<div class="medium-6 large-6 columns">
		<div class="row margin-top-20">
			
				<ul class="inline-list top-10">
					<li><a href="#">login</a></li>
					<li><a href="#">sign up</a></li>
					<li class="pad"><a href="#" class="button expand style2 small-font"><i class="fi-like"></i><span>Like US</span></a></li>
				</ul>
			
		</div>			
	</div>
</div>

<div class="row slider">
	<div class="medium-10 search-title">
		<h1 class="subheader">Best Deals In The City</h1>
		<h4 class="subheader">Life worth to be candy , Let's explore what are the best deals in the city</h4>
	</div>
	<div class="row search-bar">
			<div class="large-6 columns">
				<div class="row collapse prefix-round">
					<div class="small-3 columns">
						<a href="#" class="button prefix"><i class="fi-magnifying-glass"></i> SEARCH</a>
					</div>
					<div class="small-9 columns">
						<input type="text" placeholder="I am looking for">
					</div>
				</div>
			</div>
    
	</div>
</div>

<div class="row ad-block">
      
      <div class="medium-6 medium-push-6 columns">
        <img src="http://static.sg.groupon-content.net/76/75/1437550117576.jpg" alt="" />
      </div>
      
      <div class="medium-6 medium-pull-6 columns">
        
        <ul class="pricing-table">
  <li class="title">A-One Claypot House: $28.80 for $50 Cash Voucher for Chinese Cuisine and Drinks at 8 Outlets. More Options Available</li>
  <li class="price">$99.99</li>
  <li class="description">Valid till Sep 18, 2015.</li>
  <li class="bullet-item">Limit 1 Groupon per table per bill, no splitting of tables/bills allowed</li>
  <li class="bullet-item">Valid for dine-in only.</li>
  <li class="bullet-item">Valid for à la carte menu only.</li>
</ul>
        <div class="button-group" data-grouptype="OR">
  <button href="#" class="small button primary radius">Buy it now</button>
  <button href="#" class="small button success radius">Learn More</button>
</div>
      </div>
      
    </div>

<div class="row ad-block">
      
      <div class="medium-6 medium-push-6 columns">
        <img src="http://static.sg.groupon-content.net/76/75/1437550117576.jpg" alt="" />
      </div>
      
      <div class="medium-6 medium-pull-6 columns">
        
        <ul class="pricing-table">
  <li class="title">A-One Claypot House: $28.80 for $50 Cash Voucher for Chinese Cuisine and Drinks at 8 Outlets. More Options Available</li>
  <li class="price">$99.99</li>
  <li class="description">Valid till Sep 18, 2015.</li>
  <li class="bullet-item">Limit 1 Groupon per table per bill, no splitting of tables/bills allowed</li>
  <li class="bullet-item">Valid for dine-in only.</li>
  <li class="bullet-item">Valid for à la carte menu only.</li>
</ul>
        <div class="button-group" data-grouptype="OR">
  <button href="#" class="small button primary radius">Buy it now</button>
  <button href="#" class="small button success radius">Learn More</button>
</div>
      </div>
      
    </div>

<div class="row ad-block">
      
      <div class="medium-6 medium-push-6 columns">
        <img src="http://static.sg.groupon-content.net/76/75/1437550117576.jpg" alt="" />
      </div>
      
      <div class="medium-6 medium-pull-6 columns">
        
        <ul class="pricing-table">
  <li class="title">A-One Claypot House: $28.80 for $50 Cash Voucher for Chinese Cuisine and Drinks at 8 Outlets. More Options Available</li>
  <li class="price">$99.99</li>
  <li class="description">Valid till Sep 18, 2015.</li>
  <li class="bullet-item">Limit 1 Groupon per table per bill, no splitting of tables/bills allowed</li>
  <li class="bullet-item">Valid for dine-in only.</li>
  <li class="bullet-item">Valid for à la carte menu only.</li>
</ul>
        <div class="button-group" data-grouptype="OR">
  <button href="#" class="small button primary radius">Buy it now</button>
  <button href="#" class="small button success radius">Learn More</button>
</div>
      </div>
      
    </div>

