
<div class="row margin-top-20">
	<div class="medium-6 columns">
		<div class="row margin-top-20">
			<div class="medium-6 columns">
				<div class="icon-bar">
					<a class="item">
						<i class="fi-heart style2"/>
					</a>
					<span>Candy </span>
					<span class="light">Deals</span>
				</div>
			</div>
		</div>
	</div>
	<div class="medium-6 columns">
		<div class="row margin-top-20">
			<div class="medium-6 columns">
				<div class="icon-bar five-up">
					<a class="item">
						<img src="../assets/img/images/fi-home.svg" >
							<label>Home</label>
						</a>
						<a class="item">
							<img src="../assets/img/images/fi-bookmark.svg" >
								<label>Bookmark</label>
							</a>
							<a class="item">
								<img src="../assets/img/images/fi-info.svg" >
									<label>Info</label>
								</a>
							</div>
						</div>
					</div>			
				</div>
			</div>
			