div.banner-header {
  max-height: 82px;
  margin: 5px 0px 5px 22%; }
  div.banner-header i.heart-shadow-style {
    font-size: 35px;
    color: #E33100;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #E33100, 0 0 30px #E33100, 0 0 40px #E33100, 0 0 50px #E33100, 0 0 75px #E33100; }
  div.banner-header span.font-light {
    font-weight: lighter;
    font-size: 35px; }
  div.banner-header a.shadow-style {
    font-size: 50px;
    text-shadow: 0px 1px 0px #0092b3, 0px 2px 0px #0087a6, 0px 3px 0px #008099, 0px 4px 0px #00758c, 0px 5px 0px #555, 0px 6px 0px #006a80, 0px 0px 0px #006073, 0px 8px 7px #005566; }
  div.banner-header ul.inline-list {
    margin: 30px 0px 0px 0px; }
    div.banner-header ul.inline-list > li {
      padding: 5px 0px 0px 0px; }
    div.banner-header ul.inline-list > li {
      padding: 5px 0px 0px 25px;
      margin: 0px 0px 0px 15px;
      border-left: solid 1px #ddd;
      max-height: 35px; }
  div.banner-header a.small-font {
    font-size: 15px;
    padding: 5px; }
    div.banner-header a.small-font i, div.banner-header a.small-font span {
      padding: 10px; }

div.center-bg {
  margin-top: 10px 1px 0px 1px;
  width: 100%;
  max-width: 10000px;
  height: 200px;
  background: #e6e9ec url("/imgs/center-bg.jpg") no-repeat center;
  background-size: cover;
  /*div.search-tab{
		@include center-margin;
	}
	//center search tab
	div.search-tab {
		ul.tabs {
			height:40px;
			padding: 0 0 0 0;
			overflow:visible;
			li.tab-title {
				width:120px;
				height:30px;
				overflow:hidden;
				float:left;
				margin:0 -15px 0 0;
				display: inline-block; 
				vertical-align: top;
				font-size:15px;
				> a {
					padding: 5px;
				}
			}
		}
		div.tabs-content {
			div.content {
				padding : 1px;
			}
		}
	}*/ }
  div.center-bg > div.search-title {
    margin: 0px 0px 0px 20px; }
    div.center-bg > div.search-title > h1 {
      padding: 10px 10px 10px 10px;
      margin: 5px 5px 5px 28%;
      color: #fff;
      font-family: Montserrat, sans-serif; }
    div.center-bg > div.search-title > h4 {
      margin: 5px 5px 5px 25%;
      color: #fff;
      font-family: Montserrat, sans-serif; }
  div.center-bg div.search-bar > div.large-6 {
    margin: 5px 5px 5px 25%;
    color: #fff;
    font-family: Montserrat, sans-serif; }
  div.center-bg .search h2 {
    text-align: center; }
  div.center-bg .search form.custom .custom.dropdown {
    height: 45px; }
  div.center-bg .search label {
    margin-bottom: 10px; }
  div.center-bg .search form.custom .custom.dropdown {
    padding-top: 5px; }
  div.center-bg .search form.custom .custom.dropdown .selector {
    top: 5px; }
  div.center-bg .search .button {
    height: 45px;
    margin-top: 25px; }

div.search-result-pane {
  margin: 10px auto; }
  div.search-result-pane div.search-result-pane-header {
    margin: 10px 0px 15px 15%; }
    div.search-result-pane div.search-result-pane-header span {
      font-size: 20px; }
  div.search-result-pane div.search-result-pane-header-nav a {
    margin: 15px;
    padding: 10px;
    background-color: #a44688;
    border-radius: 50%;
    width: 30px;
    color: #fff; }
  div.search-result-pane div.search-result-pane-box {
    max-height: 200px; }

span.highlight {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #D9534F;
  width: 50px;
  height: 50px;
  line-height: 40px;
  text-align: center;
  border-radius: 25px;
  border: 3px solid #fff;
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline; }

div.item-panel {
  font-size: 12px;
  padding: 10px 20px 10px 15px; }
  div.item-panel div.title {
    background-color: #333333;
    color: #EEEEEE;
    font-weight: normal;
    padding: 0.83333rem 1.11111rem;
    text-align: center; }
  div.item-panel div.desc {
    line-height: 18px;
    overflow: hidden;
    color: #999999; }
  div.item-panel a.button {
    padding: 5px;
    max-height: 30px;
    margin: 0px; }

div.footer {
  background: #fff;
  color: #fff;
  font-size: 25px;
  margin: 20px auto; }
  div.footer div.panel.callout {
    border-style: solid;
    border-color: #fff;
    max-height: 90px;
    min-height: 90px;
    background-color: #3abec0;
    padding: 5px;
    color: #fff; }
    div.footer div.panel.callout i {
      font-size: 36px;
      float: left;
      margin: 0px 10px 10px 1px; }
    div.footer div.panel.callout h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      margin: 0px;
      line-height: 20px;
      text-transform: uppercase;
      font-size: 15px;
      color: #fff; }
    div.footer div.panel.callout p {
      font-style: italic; }
