nav.top-bar.header-bar {
	background-color:#fff;
}




div.header.margin-top-20 {
	margin-top:5px;
	margin-bottom:5px;
	max-height:82px;
	margin-left: 22%;
}

div.header.margin-top-20 div.icon-bar{
	background-color:#fff;
}


.light{
	font-weight:lighter;
	font-size:35px;
}

.style3 {
    font-size: 50px;
    color: #E33100;
    text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #E33100,0 0 30px #E33100,0 0 40px #E33100,0 0 50px #E33100,0 0 75px #E33100;
}

.style2{
	font-size: 50px;
    /*color: #2DAEBF;*/
    text-shadow: 0px 1px 0px #0092b3,0px 2px 0px #0087a6,0px 3px 0px #008099,0px 4px 0px #00758c,0px 5px 0px #555,0px 6px 0px #006a80,0px 0px 0px #006073,0px 8px 7px #005566;
}



a+span{
	padding-left: 30px;
	font-size:20px;
}


ul.top-10{
	margin-top:30px;
}
ul.top-10 li{
	padding-top:5px;
}

ul.top-10 li.pad{
	padding-top:5px;
	padding-left: 25px;
    margin-left: 15px;
    border-left: solid 1px #ddd;
	max-height:35px;
}

a.small-font{
	font-size:15px;
	padding:5px;
}

a.small-font i, a.small-font span {
	padding : 10px;
}


div.row.slider {
	margin-top:10px;
	margin-right:1px;
	margin-left:1px;
	width:100%;
	max-width:10000px;
	height:485px;
	background:#e6e9ec url("/imgs/slide-1.jpg") no-repeat center;
	    background-size: cover;
}


div.search-title{
	margin-left:20px;
}

div.search-title h1{
	padding:40px;
	margin:10px 10px 10px 35%;
	color:#fff;
	font-family: Montserrat, sans-serif;
}
div.search-title h4{
	margin:10px 10px 10px 25%; 
	color:#fff;
	font-family: Montserrat, sans-serif;
}

div.search-bar div.large-6{
	margin:10px 10px 10px 25%;
}

div.ad-block {
	margin-top:20px;
}